<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Add specific content for the home page here -->
    <p> Last Updated: {{ recent_date }}</p>
    <p> This dashboard explores economic inactivity in the UK over the last three decades, utilising data from the Labour Force Survey. 
        It unveils inactivity rates by reason (e.g., retirement, ill health) and analyzes gender disparities.  
        The latest quarter's data provides a current snapshot of this trend.</p>
  
{% endblock %}

